Repository d-coder111/PractoLearn-Hactoberfest, pull requests merged in 2023-10, with the labels that each got.

#2 Create RockPaperScissors.py
  Python Programs/RockPaperScissors.py
Labels: hacktoberfest, hacktoberfest-accepted

#3 Create ConsumerLoanAssistant.java
  Java Programs/ConsumerLoanAssistant.java
Labels: hacktoberfest, hacktoberfest-accepted

#4 A Simple Website With HTML & CSS
  Web-Development/Canteen Website/.vscode/settings.json
  Web-Development/Canteen Website/README.md
  Web-Development/Canteen Website/img/candemo.png
  Web-Development/Canteen Website/index.html
  Web-Development/Canteen Website/resources/bandaid.jpeg
  Web-Development/Canteen Website/resources/beverages.jpg
  Web-Development/Canteen Website/resources/biryani.jpeg
  Web-Development/Canteen Website/resources/butter.jpeg
  Web-Development/Canteen Website/resources/cakes.jpeg
  Web-Development/Canteen Website/resources/caramel.jpeg
  Web-Development/Canteen Website/resources/channelfile.jpeg
  Web-Development/Canteen Website/resources/chic65.jpeg
  Web-Development/Canteen Website/resources/chocolates.jpeg
  Web-Development/Canteen Website/resources/chow.jpeg
  Web-Development/Canteen Website/resources/coffee.jpeg
  Web-Development/Canteen Website/resources/cola.jpeg
  Web-Development/Canteen Website/resources/collog.png
  Web-Development/Canteen Website/resources/crunchy.jpeg
  Web-Development/Canteen Website/resources/cup.jpeg
  Web-Development/Canteen Website/resources/double mint.jpeg
  Web-Development/Canteen Website/resources/double.jpeg
  Web-Development/Canteen Website/resources/download (1).jpeg
  Web-Development/Canteen Website/resources/download.jpeg
  Web-Development/Canteen Website/resources/drinks.jpeg
  Web-Development/Canteen Website/resources/feast.jpeg
  Web-Development/Canteen Website/resources/fevistick.jpeg
  Web-Development/Canteen Website/resources/forest.jpeg
  Web-Development/Canteen Website/resources/fried.jpeg
  Web-Development/Canteen Website/resources/headlogo.png
  Web-Development/Canteen Website/resources/icecreame.jpg
  Web-Development/Canteen Website/resources/junior.jpeg
  Web-Development/Canteen Website/resources/maincourse.jpg
  Web-Development/Canteen Website/resources/mask.jpeg
  Web-Development/Canteen Website/resources/pen.jpeg
  Web-Development/Canteen Website/resources/pencil.jpeg
  Web-Development/Canteen Website/resources/print.jpeg
  Web-Development/Canteen Website/resources/printing.jpg
  Web-Development/Canteen Website/resources/sandwich.jpeg
  Web-Development/Canteen Website/resources/senior.jpeg
  Web-Development/Canteen Website/resources/stationery.jpg
  Web-Development/Canteen Website/resources/tea.jpeg
  Web-Development/Canteen Website/resources/tmslfood.png
  Web-Development/Canteen Website/resources/vanilla.jpeg
  Web-Development/Canteen Website/resources/vegsand.jpeg
  Web-Development/Canteen Website/resources/xerox.jpeg
  Web-Development/Canteen Website/style.css
Labels: hacktoberfest, hacktoberfest-accepted

#5 Implement tower of Hanoi game using DDA line drawing algorithm.
  C++ Programs/TOH.cpp
Labels: hacktoberfest, hacktoberfest-accepted, cpp

#6 K-means clustering algorithm on iris dataset
  Machine Learning/Implementing K-Means Clustering Algorithm on iris dataset(from Scratch)/K-Means Clustering Algorithm on iris dataset.ipynb
  Machine Learning/Implementing K-Means Clustering Algorithm on iris dataset(from Scratch)/iris.data
  Machine Learning/Implementing K-Means Clustering Algorithm on iris dataset(from Scratch)/iris.names
Labels: hacktoberfest, hacktoberfest-accepted, python, Machine Learning

#8 A GUI supported to-do list made in python.
  Python Programs/to-do.py
Labels: hacktoberfest, hacktoberfest-accepted, python

#9 Adding images for readme file
  colab-learning.png
  elearning.png
  learn.png
  team-building.png
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#10 Added the Group Anagrams Code
  C++ Programs/Group_Anagrams.cpp
Labels: hacktoberfest, hacktoberfest-accepted, cpp

#11 Add QuickSortSoln.java
  Java Programs/QuickSortSoln.java
Labels: hacktoberfest, hacktoberfest-accepted, java

#12 Fibonacci using DP
  Java Programs/Fibonacci.java
Labels: hacktoberfest, hacktoberfest-accepted, java

#13 Adding deployed age-calculator web app
  Web-Development/Age-Calculator-WebApp/index.html
  Web-Development/Age-Calculator-WebApp/index.jss
  Web-Development/Age-Calculator-WebApp/readme.md
  Web-Development/Age-Calculator-WebApp/style.css
Labels: hacktoberfest, hacktoberfest-accepted, web-development

#14 Polynomial Addition in C
  C Programs/Polysum.c
Labels: hacktoberfest, hacktoberfest-accepted
